{% extends "main.html" %}
{% block title %}Case home page{% endblock title %}
{% block content %}
    {% for case in all_case %}
    <div class='case-home-card'>
        <img class='case-cover' src='{{case.case_cover.url}}' id="case_image">
        <div class='case-home-card-container'>
            <h4><b>{{case.case_name}}</b></h4>
            <p>Description: {{case.case_desc}}</p>
            <p>Location Of happening: <b>{{case.case_loc}}</b></p>
            <p>Crime Type: <strong>{{case.case_category}}</strong></p>
            <p>Date of happening: <b><span>{{case.case_date}}</span></b></p>
        </div>
    </div>
    {% endfor %}
{% endblock content %}