{% extends 'main.html' %} {% block content %}

<form class="signup form-input" method="POST">
  {% csrf_token %}

  <h1>Login Form</h1>
  <div class="signup__field">
    <input class="signup__input" type="text" name="username" />
    <label class="signup__label" for="username">username</label>
  </div>

  <div class="signup__field">
    <input class="signup__input" type="password" name="password" />
    <label class="signup__label" for="password">Password</label>
  </div>
  <button class="login-button" type="submit">Submit</button>
</form>

{% endblock content %}
