{% extends "main.html" %}
{% block content %}
<form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class='input-group mb-3'>
    <label class="input-group-text">Enter your file name:</label>
    <input class="form-control" type='text' name='filename'/>
    </div>
    <div class="input-group mb-3">
    <label class="input-group mb-3" >Upload the file:</label>
    <input class="form-control" type='file' name='file'/>
    </div>
    <button class="btn btn-primary form-control" type='submit'>Submit</button>

</form>

{% if enc %}
    <div class="container">
        <h4>These keys are very important 2nd key will be required for 1st layer decryption and 1st key will be required for the 2nd layer decryption</h4>
        <a class="btn btn-secondary" href='/media/key/aeskey.key' download>Download aes key</a>
        <a class="btn btn-secondary" href='/media/key/fernetpass.key' download>Download fernet key</a>
    <br/>
    </div>
{% endif %}
{% endblock content %}
