{% extends "main.html" %}
{% block title %}About Us{% endblock title %}
{% block content %}
<p>To meet the increasing demand for improvements in the health care facilities & services we have comeup with this website as a solution.</p>
<br/>
<p>Surplus Med aims at providing an online platform for donating medicines to the needy people. 
    The donor who wishes to donate the medicines can Signup through the donor option and provide the appropriate details to donate the medicine.</p>
<br/>
    <p>The people who cannot afford the medicines can get beneficial by availing the medicines for free of cost from the NGOs. </p><br/>
    <p>This can help the donators who wish to donate and the needy who wants to avail.</p>
{% endblock content %}